﻿@model IEnumerable<ExportToExcel.Models.Employees>
@{
    Layout = null;
}
    <!DOCTYPE html>

    <html>
    <head>
        <title>Test Export Excel "SELECT OPTION" </title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
      
      
    </head>
    <body>
        <script src="https://code.jquery.com/jquery-1.12.3.js"></script>
        <script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/buttons/1.2.1/js/dataTables.buttons.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
        <script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js"></script>
        <script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js"></script>
        <script src="https://cdn.datatables.net/buttons/1.2.1/js/buttons.html5.min.js"></script>

        <link href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css">
        <link href="https://cdn.datatables.net/buttons/1.2.1/css/buttons.dataTables.min.css" rel="stylesheet" type="text/css">  
      
        <link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="awesome-bootstrap-checkbox.css" />'

        <script src="~/scripts/Export.js"></script>
        <link href="~/Content/bootstrap.css" rel="stylesheet" />

        <link href="~/Content/Export.css" rel="stylesheet" />
        <script>
            var buttonCommon = {
                exportOptions: {
                    format: {
                        body: function (data, column, row, node) {
                            // if it is select
                            //if (column == 2) {
                            //    //return $(data).find("option:selected").text()
                            //} else 
                            return data
                        }
                    }
                }
            };
            $(document).ready(function () {
                debugger;
             
                var table= $('#example').DataTable({
                    "scrollY": "200px",
                    "paging": false,
                    dom: 'Bfrtip',
                    buttons: [
                            'copy',
                            $.extend(true, {}, buttonCommon, {
                                extend: "csv",
                                exportOptions: {
                                    columns: [0, ':visible']
                                }
                            }),
                            $.extend(true, {}, buttonCommon, {
                                extend: "excel",
                                exportOptions: {
                                    columns: [0, ':visible']
                                }
                            }),
                            $.extend(true, {}, buttonCommon, {
                                extend: "pdf",
                                exportOptions: {
                                    columns: [0, ':visible']
                                }
                            }), 
                    ]
                });

                $('.custom-control-label').on('click', function (e) {
                    debugger;
                    if ($(this).parent().find("input[type=checkbox]").is(":checked")) {
                        $(this).parent().find("input[type=checkbox]").prop('checked', false);
                    }
                    else {
                        $(this).parent().find("input[type=checkbox]").prop('checked', true);
                    }
                    e.preventDefault();

                    // Get the column API object
                    var column = table.column($(this).attr('data-column'));

                    // Toggle the visibility
                    column.visible(!column.visible());
                });
            });

        </script>

      

        <div class="row" style="padding:2%" >

            <div class="col-md-2">
                <div class="custom-control custom-checkbox" >
                    @*<span class="toggle-vis" data-column="0">ID</span>*@
                    <input type="checkbox" class="custom-control-input " checked="checked" id="chkID"/>
                    <label class="custom-control-label" data-column="0" for="chkID">ID</label>
                </div>
            </div>

            <div class="col-md-2">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" checked="checked" id="chkFirstName">
                    <label class="custom-control-label" data-column="1" for="chkFirstName"> FirstName</label>
                    @*<button class="Selectbtn" id="btnFirstName" data-column="1">FirstName </button>*@
                </div>
           
            </div>
                
            <div class="col-md-2">
             
                <div class="custom-control custom-checkbox" >
                    <input type="checkbox" class="custom-control-input" checked="checked" id="chkLastName">
                    @*<a class="toggle-vis" data-column="2">LastName</a>*@
                    <label class="custom-control-label" data-column="2" for="chkLastName"> LastName</label>
                </div>
            </div>
            <div class="col-md-2">
                <div class="custom-control custom-checkbox" >
                    <input type="checkbox" class="custom-control-input" checked="checked"  id="chkGender">
                    @*<a class="toggle-vis" data-column="3">Gender</a>*@
                    <label class="custom-control-label" data-column="3" for="chkGender"> Gender</label>
                </div>
            </div>
            <div class="col-md-2">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" checked="checked" id="chkSalary">
                    @*<a class="toggle-vis" data-column="4">Salary</a>*@
                    <label class="custom-control-label" data-column="4" for="chkSalary"> Salary</label>
                </div>
            </div>
       
            </div>
       

         

            <div id="tableToExport" >

                <table  id="example" class="display" cellspacing="0" border="1">
                    <thead>
                        <tr>
                            <th id="th_ID">ID</th>
                            <th id="th_firstname"> FirstName </th>
                            <th id="th_lastname" > LastName </th>
                            <th id="th_gender" > Gender </th>
                            <th id="th_salary" > Salary </th>


                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model)
                        {
                            
                            <tr>
                                <td id="td_ID" style="width: 5%; text-align:center;">@item.ID</td>
                                <td id="td_firstname" style="width: 25%; text-align:center;">@item.FirstName</td>
                                <td id="td_lastname" style="width: 25%; text-align:center;">@item.LastName</td>
                                <td id="td_gender" style="width: 25%; text-align:center;">@item.Gender</td>
                                <td id="td_salary" style="width: 25%; text-align:center;">@item.Salary</td>
                            </tr>
                        }
                    </tbody>
                </table>

            </div>

</body>
</html>
