﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ExcelExport</title>
</head>
<body>
    <div> 
        <button onclick="DownloadExcel()" class="btn  btn-success" style="margin-top:20px;">Excel Export</button>

        <script>

    function DownloadExcel() {
        $.ajax({
            type: "POST",
            url: "/Default/ExcelExport",
            cache: false,
            success: function (data) {
                window.location = '/Excel/Download';
            },
            error: function (data) {
                Materialize.toast("Something went wrong. ", 3000, 'rounded');
            }
        });
    }
        </script>  
    </div>
</body>
</html>
